* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*TOPO*/
#topo {
  position: relative;
  padding: 35px 0;
}

#topo > div {
  width: 1024px;
  position: relative;
  margin: 0 auto;
}

.logo > h1 {
  font-size: 32px;
}

.logo > div > p {
  font-size: 16px;
  font-weight: 600;
  color: #2f86d6;
}

.logo > img {
  height: 80px;
}

#topo > div > .logo > div {
  position: absolute;
  left: 90px;
  bottom: 10px;
}

.links {
  position: absolute;
  top: 35px;
  right: 0px;
}

.links a {
  text-decoration: none;
  color: #233032;
  font-weight: 600;
  margin-right: 10px;
}

/*BANNER*/
#banner {
  background-color: #2f86d6;
  color: #fff;
  padding: 180px 0;
}

#banner > div > .text > h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#banner > div > .text > p {
  font-size: 16px;
  margin-bottom: 20px;
}

#banner > div {
  width: 1024px;
  height: 430px;
  margin: 0 auto;
  position: relative;
}

#banner > div > .text {
  width: 470px;
  position: absolute;
  top: 87.5px;
}

#banner > div > img {
  width: 50%;
  position: absolute;
  right: 0px;
}

/*ANÚNCIOS*/
.anuncio {
  color: #fff;
  padding: 40px 0;
}

.anuncio > div {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.anuncio > div > .text {
  width: 600px;
}

.anuncio > div > .text > h2 {
  font-size: 24px;
}

.anuncio > div > .text > p {
  font-size: 16px;
}

.anuncio > div > .botao {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  position: absolute;
  top: 6px;
  right: 0;
}

.anuncio > div > .botao > img {
  position: relative;
  top: 4px;
  margin-right: 4px;
  height: 20px;
}

/*PRIMEIRO ANÚNCIO*/
#primeiro-anuncio {
  background-color: #233032;
}

#primeiro-anuncio > div > .botao {
  background-color: #2f86d6;
}

/*SEGUNDO ANÚNCIO*/
#segundo-anuncio {
  background-color: #2f86d6;
}

#segundo-anuncio > div > .botao {
  background-color: #233032;
}

/*INFORMAÇÕES*/
.destaque {
  color: #2f86d6;
}

#informacoes {
  text-align: center;
  padding: 100px 0;
}

#informacoes > h2 {
  font-size: 32px;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.secao-infos {
  width: 1024px;
  margin: 0 auto;
}

.secao-infos > thead > tr > th {
  width: 33%;
}

.secao-infos > thead > tr > th > img {
  height: 200px;
}

.secao-infos > thead > tr {
  font-size: 16px;
}

.secao-infos > thead > .info {
  font-size: 18px;
}

/*PLANOS*/
#planos {
  padding: 100px 0;
}

#planos > h2 {
  font-size: 32px;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}

#planos table {
  border-radius: 4px;
  margin: auto;
  box-shadow: 0px 2px 40px 15px rgba(47, 134, 214, 1);
}

#planos table thead th {
  text-align: center;
  padding: 20px 0px;
  background-color: #fff;
}

#planos table thead th h3 {
  margin-bottom: 20px;
}

#planos table thead th img {
  width: 100px;
  margin: auto;
}

#planos table thead th p {
  max-width: 150px;
  margin: auto;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #a89f9f;
}

#planos table tbody td {
  width: 250px;
  max-width: 1024px;
  text-align: center;
  font-weight: 500;
  padding: 15px;
}

.linha-impar {
  background-color: #f6f6f6;
}

.linha-par {
  background-color: #fff;
}

/*RODAPÉ*/
#contato {
  padding: 100px 0;
}

#contato > .logo {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

#contato > .logo > div {
  position: absolute;
  top: 4px;
  right: 10px;
}

#contato > div > p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}

#desenvolvedor {
  background-color: #f1f3f7;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
  font-weight: 600;
}
